.container {
    padding-left: 200px;
    padding-right: 200px;
}

.top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 200px;
}

.links a {
    margin-left: 20px;
    margin-right: 20px;
}


.middle-div {
    margin-top: 50px;
    display: flex;
}

#left-div {
    width: 400px;
}

#right-div {
    margin-left: 30px;
}

#middle-image {
    width: 500px;
}

.bottom-div {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.bottom-image {
    width: 100px;
}

